* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #111111;
}

a {
  text-decoration: none;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    animation: rotate-forward 3s linear infinite;
  }

  
/* NAVBAR - MENU DE OPÇÕES HORIZONTAL - início ⇩ */
 /* NAVBAR - MENU DE OPÇÕES HORIZONTAL - início ⇩ */
 nav {
    background-color: #151515;
    padding: 15px;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9ca3af;
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 999; 
  }
  
  
  .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
  }
  
  .logo {
      font-weight: bold;
      font-size: 22px;
      color: #9ca3af;
      padding-right: 10vw;
  }
  
  .menu {
      list-style-type: none;
      display: flex;
      font-size: 16px;
      justify-content: flex-start;
      align-items: center;
  }
  
  .menu li {
      margin-left: 20px;
  }
  
  .menu li:first-child {
      margin-left: 0;
  }
  
  .menu a {
      text-decoration: none;
      color: inherit;
      padding: 5px 10px;
  }
  
  .menu a:hover {
      background-color: #333;
      color: #fff;
  }
  
  .menu-icon {
      display: none;
      cursor: pointer;
      color: #9ca3af;
  }

/* Banner styles */

/* Banner styles */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px;
    background-color: #ffffff;
    position: relative;
}

.banner p {
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
    margin: 0; /* Remove any default margins */
}

.banner-2 {
    background-color: #151515;
    color: #fff;
}

.banner img {
    max-width: 100%;
    height: auto;
}

.sobre-nos {    
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 20px; /* Add some spacing */
}

 .banner-3 p {   
  font-size: 1.8rem; 
  width: clamp(1050px, 50%, 100px);
 
}


/* Footer styles */
footer {
  text-align: center;
  padding: 20px 0;
  color: #fff;
}


/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .banner {
        padding: 50px 20px;
        flex-direction: column;
        text-align: center;
    }
    
    .banner-content {
        margin-top: 30px;
        margin-bottom: 20px;
   
    }
    
    .banner-image {
        text-align: center;
    }


    .logo {
        margin: 0 auto;
    }

    nav {
      height: 7vh;
      align-items: center;
      position: fixed;
    }

    .banner-1 p,
    .banner-2 p { 
      font-weight: 500; 
      text-align: center;
      font-size: 1.5rem; 
      width: clamp(270px, 50%, 400px);
      margin: 0 auto; /* Adicione essa linha para centralizar horizontalmente */
    }

    .banner-3 p { 
      font-weight: 500;  
      font-size: 1.2rem; 
      width: clamp(400px, 50%, 400px);
     
    }

    
    
     /* HAMBURGE ICON - início */

.burger {
  position: relative;
  width: 30px;
  height: 25px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger.active span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 3px;
}

.burger.active span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger.active span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 22px;
  left: 3px;
}
    
    /* HAMBURGE ICON - fim */


     /* SIDEBAR (MENU LATERAL) - inicio ⇩ */
      

    .menu {
        flex-direction: column;
        align-items: center; 
       
    }

    .menu li {
        margin: 20px 0; /* Espaçamento entre os itens */
    }
    
    .menu a {
        font-size: 20px;
    }
  
    .menu-container {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: #151515;
      top: 7vh;
      transform: translateX(-100%);
      transition: transform 0.5s;
      z-index: 1;
  }
  
    .menu-container.active {
        transform: translateX(0); /* Mostra a barra lateral */
    }
      
    .menu-container ul {
        margin-top: 30%;
    }
  
    ul {
      display: flex;
      flex-direction: column;
      align-items: start;
      list-style-type: none;
    }
      li {
        padding: 6px 0;
      }
        a {
          position: relative;
          display: block;
          padding: 4px 0;
          font-family: Lato, sans-serif;
          color: #ecf0f1;
          text-decoration: none;
          text-transform: uppercase;
          transition: 0.5s;
    
          &::after {
            position: absolute;
            content: "";
            top: 100%;
            left: 0;
            width: 100%;
            height: 3px;
            background: #3498db;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.5s;
          }
    
          &:hover {
            color: #95a5a6;
          }
    
          &:hover::after {
            transform: scaleX(1);
            transform-origin: left;
          }}

     /* SIDEBAR (MENU LATERAL) - fim */

  }